body {
  background-color: #eee;
  color: #333;
}
img {
  width: 50vmin;
}
article p{
  text-indent: 2em;
  letter-spacing: 1.2px;
}
article .author-date a{
  display: block;
  text-align: end;
}